.AdminTypes {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  width: 95%;
  max-width: 1200px;

  padding: 30px 30px;
  margin: 20px auto;

  border: 1px solid #efefef;
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;
}

.AdminTypes:hover {
  box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.2);
}

.AdminTypes-listOfTypes {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.AdminTypes-header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.AdminTypes-newType {
  display: flex;
  flex-flow: column;
  padding: 10px 20px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.AdminTypes-newType > div {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.02);
  padding: 0px 10px;
  font-size: 17px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.AdminTypes-newType p:first-child {
  font-weight: 700;
  margin-right: 10px;
}

.AdminTypes-newType p:last-child {
  text-align: right;
  width: 80%;
}

.AdminTypes-newType textarea {
  width: 80%;
  resize: none;
  margin: 10px 0px 10px;
  text-align: right;
  vertical-align: middle;
}

.AdminTypes-newTypeButton button {
  margin: 20px 0px 20px 20px;
}

@media only screen and (max-width: 760px) {
  .AdminTypes {
    width: 95%;
  }
}
