.AdminAttributes {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  width: 95%;
  max-width: 1200px;

  padding: 30px 30px;
  margin: 20px auto;

  border: 1px solid #efefef;
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;
}

.AdminAttributes-listOfAttributes {
  display: flex;
  flex-flow: column;
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  box-sizing: border-box;
}

.AdminAttributes-newAttributeButton button {
  margin: 20px 0px 20px 20px;
}

.AdminProducts:hover {
  box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.2);
}

.AdminAttributes-header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.AdminAttributes-saveButton button {
  margin: 20px 0px 20px 20px;
}

.AdminAttributes-newAttribute {
  display: flex;
  flex-flow: column;
  padding: 10px 20px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.AdminAttributes-newAttribute > div {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.02);
  padding: 0px 10px;
  font-size: 17px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.AdminAttributes-newAttribute p:first-child {
  font-weight: 700;
  margin-right: 10px;
}

.AdminAttributes-newAttribute p:last-child {
  text-align: right;
  width: 80%;
}

.AdminAttributes-newAttribute textarea {
  resize: none;
  text-align: right;
}

@media only screen and (max-width: 760px) {
  .AdminAttributes {
    width: 95%;
  }
}
