.AdminMenu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  background-color: #261c1b;
  color: white;

  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.AdminMenu a,
.AdminMenu p {
  padding: 10px;
  text-align: center;
  flex-grow: 1;

  text-decoration: none;
  color: white;
  font-size: 20px;
}

.AdminMenu p {
  margin: 0;
  color: #eb4b3d;
  font-weight: 700;
}

.AdminMenu a:hover {
  background-color: #eb4b3d;
}

@media only screen and (max-width: 760px) {
  .AdminMenu {
    display: flex;
    flex-flow: column;
    width: 100%;
  }
}
