.CartItem {
  display: flex;
  flex-flow: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.CartItem img {
  width: 60px;
  height: 60px;
  margin: 5px;
}

.CartItem-name {
  width: 40%;
}

.CartItem p {
  min-width: 10%;
}

.CartItem-price {
  text-align: right;
  width: 15% !important;
}

.CartItem-deleteIcon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.CartItem input {
  width: 15%;
  border: 0;
  padding: 8px;
}

.CartItem svg {
  width: 25px;
  height: 25px;
}

.CartItem svg:hover {
  width: 30px;
  height: 30px;
}
