.FooterMenu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  margin: 5px 10px;

  background-color: #f57f17;
  color: white;
}

.FooterMenu a {
  padding: 10px;
  text-align: center;
  flex-grow: 1;

  text-decoration: none;
  color: white;
  font-size: 20px;
}

.FooterMenu a:hover {
  background-color: #ff6f00;
}
