.HeaderMenu {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #261c1b;
  color: white;
}

.HeaderMenu-logoAndIcon {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.HeaderMenu a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.HeaderMenu img {
  width: 230px;
  height: 50px;
  margin: 15px 20px 10px 20px;
}

.HeaderMenu-mainCategoriesFullscreen,
.HeaderMenu-cartLoginFullscreen {
  margin: 0px 0px 0px 10px;
}

.HeaderMenu-cartLogin a,
.HeaderMenu-cartLoginFullscreen a {
  color: #eb4b3d;
}

.HeaderMenu-dropdown p,
.HeaderMenu-cartLoginFullscreen a {
  margin: 0;
  line-height: 55px;
  vertical-align: middle;
  padding: 0px 16px;
}

.HeaderMenu-dropdown,
.HeaderMenu-cartLoginFullscreen a {
  display: inline-block;
}

.HeaderMenu-cartLogin a:before,
.HeaderMenu-cartLoginFullscreen a:before,
.HeaderMenu-dropdown:before,
.HeaderMenu-cartLogin a:after,
.HeaderMenu-cartLoginFullscreen a:after,
.HeaderMenu-dropdown:after {
  content: '';
  display: block;
  border-bottom: 2px solid #eb4b3d;
  width: 100%;
  -webkit-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transform: scaleX(0);
}

.HeaderMenu-cartLogin a:hover:before,
.HeaderMenu-cartLoginFullscreen a:hover:before,
.HeaderMenu-dropdown:hover:before,
.HeaderMenu-cartLogin a:hover:after,
.HeaderMenu-cartLoginFullscreen a:hover:after,
.HeaderMenu-dropdown:hover:after {
  transform: scaleX(1);
}

.HeaderMenu-dropdownHidden a:hover {
  font-size: 29px;
  color: #eb4b3d;
}
.sub-menu a:hover {
  color: #eb4b3d;
}

.HeaderMenu-hamburger {
  display: none;
}

.HeaderMenu-logoAndIcon svg {
  margin: 5px 10px 0px 0px;
}

.HeaderMenu-dropdown:hover .HeaderMenu-dropdownHidden {
  display: block;
}

.HeaderMenu-dropdownHidden {
  display: none;
  position: absolute;
  margin-top: 2px;
  z-index: 1;

  background-color: #261c1b;
  color: white;
}

.HeaderMenu-dropdownHidden a {
  float: none;
  display: block;
  width: 230px;
  line-height: 35px;
  text-align: left;

  font-size: 17px;
  font-weight: 400;

  padding: 4px 16px;
  border-bottom: 0.5px solid white;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.HeaderMenu-dropdownHidden a:last-child {
  border: 0;
}

.HeaderMenu svg {
  margin-bottom: 5px;
}

.HeaderMenu-mainContentResponsive {
  display: none;
  padding-top: 30px;
}

.HeaderMenu-mainContentFullscreen {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.sub-menu {
  display: none;
}

#sm1:checked + .sub-menu,
#sm2:checked + .sub-menu,
#sm3:checked + .sub-menu,
#sm4:checked + .sub-menu {
  display: block;
}

.HeaderMenu-dropdown input[type='checkbox'],
.HeaderMenu-dropdown span.drop-icon {
  display: none;
}

.HeaderMenu-dropdown label {
  border-left: 1px solid #eb4b3d;
  border-right: 1px solid #eb4b3d;
  padding: 0px 10px 0px 8px;
  margin: 0px 10px;
}

.HeaderMenu-dropdown a {
  font-size: 25px;
  display: flex;
  justify-content: space-between;
}

.sub-menu a {
  font-size: 20px;
}

.HeaderMenu input[type='checkbox'],
.HeaderMenu span.drop-icon {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .HeaderMenu {
    flex-flow: column;
    justify-content: space-between;
    align-items: unset;
    padding: 10px 0px;
  }

  .HeaderMenu-cartLoginFullscreen,
  .HeaderMenu-mainCategoriesFullscreen {
    display: none;
  }

  .HeaderMenu-hamburger {
    display: block;
  }

  .HeaderMenu-mainContentResponsive {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .HeaderMenu-mainContentResponsive {
    display: none;
  }

  #dropdownCheckbox:checked + .HeaderMenu-mainContentResponsive {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .HeaderMenu img {
    margin: 0;
  }

  .HeaderMenu-cartLogin,
  .HeaderMenu-mainCategories {
    display: flex;
    flex-flow: column wrap;
  }

  .HeaderMenu-mainCategories {
    padding-bottom: 30px;
    margin: 0;
  }

  .HeaderMenu-cartLogin {
    margin: 0 0 0 20px;
  }
  .HeaderMenu-mainCategories {
    margin: 0 0 0 40px;
  }

  .HeaderMenu-dropdown p,
  .HeaderMenu-cartLogin a {
    line-height: 35px;
    vertical-align: middle;
    padding: 0px 16px 0px;
    margin: 2px 0px;
    font-size: 25px;
  }

  .HeaderMenu-dropdown,
  .HeaderMenu-cartLogin a {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }

  .HeaderMenu-dropdown:hover .HeaderMenu-dropdownHidden {
    display: none;
  }

  .HeaderMenu-dropdownHidden a:hover,
  .HeaderMenu-cartLogin a:hover,
  .HeaderMenu-dropdown:hover {
    font-size: 25px;
  }
}
