.ImageSlider {
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 200px;
  overflow: hidden;
  padding: 0px 30px;
}

.ImageSlider div {
  clear: both;
  position: relative;
  width: 100%;
  padding: 0px 30px 0px 0px;
}

.ImageSlider-link {
  text-decoration: none;
  color: #444444;
}

.ImageSlider img {
  height: 150px;
}

.ImageSlider-link p {
  padding: 0 0px 0px 30px;
}

.slick-slider {
  padding: 0px 30px;
}

.slick-slider img {
  width: 200px;
  height: 150px;
  padding: 10px 20px;
}

.slick-center img {
  transition: all 0.3s ease;
  height: 160px;
  padding: 0px 20px;
}

.slick-arrow {
  color: #f57f17;
  background-color: #f57f17;
}

.slick-arrow:active,
.slick-arrow:focus,
.slick-arrow:hover {
  color: #f57f17;
  background-color: #f57f17;
}

.slick-next {
  right: -1px;
}

.slick-prev {
  left: -1px;
}
