.OrderFormPassword {
  padding-bottom: 30px;
  height: 400px;
}

.OrderFormPassword h1 {
  font-size: 30px;
}

.OrderFormPassword a {
  color: #444444;
}

.OrderFormPassword-separatingContainer {
  border-bottom: 1px solid #ccc;
  width: 95%;
  max-width: 400px;
  margin: 30px 0px;
}

@media only screen and (max-width: 600px) {
  .OrderFormPassword {
    height: 100%;
  }
}
