.PasswordWithLabel {
  display: flex;
  flex-flow: column wrap;
  max-width: 350px;
  text-align: left;
  padding-bottom: 1px;
  font-size: 20px;
  margin-bottom: 15px;
  outline: none;
}

.PasswordWithLabel input {
  width: 350px;
  padding: 8px;
  border: 1px solid #ccc;
  resize: none;
  outline: none;
  border-bottom: 0;
}

.PasswordWithLabel input:focus {
  outline: none;
  border-left: 1px solid #f3928a;
}

.PasswordWithLabel > div {
  position: relative;
  outline: none;
  display: flex;
}

.PasswordWithLabel p {
  margin: 0;
}

.PasswordWithLabel-showPasswordIcon {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  left: calc(100% - 40px);
  top: 5px;
  outline: none;
}

.PasswordWithLabel svg {
  position: absolute;
  width: 30px;
  height: 30px;
  outline: none;
}

.PasswordWithLabel svg:hover {
  cursor: pointer;
}

.PasswordWithLabel input::placeholder {
  color: #ccced7;
}

.PasswordWithLabel-strengthIndicator-0,
.PasswordWithLabel-strengthIndicator-1,
.PasswordWithLabel-strengthIndicator-2,
.PasswordWithLabel-strengthIndicator-3,
.PasswordWithLabel-strengthIndicator-4 {
  width: 300px;
  height: 3px;
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.PasswordWithLabel-strengthIndicator-0 {
  background-color: #b71c1c;
  width: 100%;
}

.PasswordWithLabel-strengthIndicator-1 {
  background-color: #e65100;
  width: 100%;
  border-right: 225px solid #ccc;
}

.PasswordWithLabel-strengthIndicator-2 {
  background-color: #ffd600;
  width: 100%;
  border-right: 150px solid #ccc;
}

.PasswordWithLabel-strengthIndicator-3 {
  background-color: #0091ea;
  width: 100%;
  border-right: 75px solid #ccc;
}

.PasswordWithLabel-strengthIndicator-4 {
  background-color: #00c853;
  width: 100%;
  border-right: 0px solid #ccc;
}

.PasswordWithLabel-passwordState {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  left: 100%;
  top: 5px;
}

.PasswordWithLabel-redText {
  color: #b71c1c;
}

.border-bottom {
  border-bottom: 1px solid #ccc !important;
}

@media only screen and (max-width: 440px) {
  .PasswordWithLabel {
    width: 95%;
  }

  .PasswordWithLabel input {
    width: 100%;
  }

  .PasswordWithLabel-strengthIndicator-0,
  .PasswordWithLabel-strengthIndicator-1,
  .PasswordWithLabel-strengthIndicator-2,
  .PasswordWithLabel-strengthIndicator-3,
  .PasswordWithLabel-strengthIndicator-4 {
    width: calc(100%);
  }

  .PasswordWithLabel-showPasswordIcon {
    left: calc(100% - 40px);
  }

  .PasswordWithLabel-passwordState {
    left: calc(100%);
  }
}
