.RegisterFormAddress {
  padding-bottom: 30px;
  height: 400px;
  -webkit-animation: tracking-in-expand 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.RegisterFormAddress h1 {
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  .RegisterFormAddress {
    height: 100%;
  }
}
