.RegisterFormPassword {
  padding-bottom: 30px;
  height: 400px;
  -webkit-animation: tracking-in-expand 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.RegisterFormPassword h1 {
  font-size: 30px;
}

.RegisterFormPassword a {
  color: #444444;
}
.RegisterFormPassword-noRegistration {
  padding: 20px 0px;
}

@media only screen and (max-width: 600px) {
  .RegisterFormPassword {
    height: 100%;
  }
}
