.RegisterForm {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;

  width: 95%;
  max-width: 900px;

  padding: 30px 30px;
  margin: 20px 20px;

  border: 1px solid #efefef;
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;

  display: flex;
  flex-flow: column wrap;
}

.RegisterForm:hover {
  box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.2);
}

.RegisterForm h1 {
  padding: 0px 0px 30px;
  margin: 0;
}

.RegisterForm-inputFields {
  padding: 0px 0px 30px;
}

.RegisterForm-requiredFieldsNotice {
  margin-top: 0;
  color: #b71c1c;
}

.rc-steps-item-process .rc-steps-item-icon {
  background: #eb4b3d !important;
  border-color: #eb4b3d !important;
}

.rc-steps-item-finish .rc-steps-item-icon {
  border-color: #eb4b3d;
  background-color: #fff;
}

.rc-steps-item-finish .rc-steps-item-icon > .rc-steps-icon {
  color: #eb4b3d;
}

.rc-steps-item-finish .rc-steps-item-title:after,
.rc-steps-item-finish .rc-steps-item-tail:after {
  background-color: #eb4b3d !important;
}

.rc-steps {
  margin: 20px 0px;
}

.RegisterForm-backAndNextButtons {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

@media only screen and (max-width: 330px) {
  .RegisterForm-backAndNextButtons {
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .RegisterForm {
    margin: 5px;
    padding: 20px 20px;
    width: 95%;
  }

  .RegisterForm-heading {
    text-align: center;
  }
}
