.RegisterForm {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;

  width: 95%;
  max-width: 900px;

  padding: 30px 30px;
  margin: 20px 20px;

  border: 1px solid #efefef;
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;

  display: flex;
  flex-flow: column wrap;
}

.RegisterForm:hover {
  box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.2);
}

.RegisterForm h1 {
  padding: 0px 0px 30px;
}

.RegisterForm-inputFields {
  padding: 0px 0px 30px;
}

.RegisterForm-requiredFieldsNotice {
  margin-top: 0;
  color: #b71c1c;
}

@media only screen and (max-width: 600px) {
  .RegisterForm {
    margin: 5px;
    padding: 20px 20px;
    width: 95%;
  }

  .RegisterForm-heading {
    text-align: center;
  }
}
